@import "tailwindcss";

/* Базовые стили страницы */

:root {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "SF Pro Text",
    -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
  color: #0f172a;
  background-color: #e0f2fe;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
}

#root {
  min-height: 100vh;
}

html,
body,
#root {
  height: 100%;
}

